.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container p {
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.butCancel {
  background-color: #424242;
}

.butCancel:hover {
  background-color: #212121;
}
