.filtersBarContainer {
  padding: 16px;
  background-color: #bdbdbd;
  color: black;
  padding: 16px;
  border-radius: 8px;
}

.filtersForm {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr auto auto;
  gap: 16px;
}

.filtersForm button {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5722;
  height: 32px;
}

.clearAllBtn:hover {
  background-color: #d84315;
}

.filtersForm button:nth-child(4) {
  background-color: #424242;
}
.filtersForm button:nth-child(4):hover {
  background-color: #212121;
}

/* Custom Select */
.customSelect {
  position: relative;
}

.customSelect select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* For Aesthetics */
  width: 100%;
  /* font-size: 1.15rem; */
  /* padding: 0.675em 6em 0.675em 1em; */
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 32px;
  color: #000;
  cursor: pointer;
}

.customSelect::before,
.customSelect::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

/* .customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
} */

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 50%;
}
/* End Custom Select */

@media screen and (max-width: 900px) {
  .filtersForm {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
